@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Noto+Color+Emoji&family=Space+Mono:wght@700&display=swap");

@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/functions";

@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";

@import "components/dropdown";
@import "components/brands";
@import "components/cards";
@import "components/more";
@import "components/btn";
@import "components/contacts";
@import "components/modal";
@import "components/header";
@import "components/icon-group";
@import "components/side-content";
@import "components/categories";

@import "layout/navbar";
@import "layout/footer";
@import "layout/newsletter";
@import "layout/about";
@import "layout/company";

@import "pages/home";
