@mixin respond($device) {
  @if $device==mob {
    @media only screen and (max-width: 45em) {
      @content;
    }
  }
  @if $device==tab {
    @media only screen and (min-width: 45.1em) and (max-width: 65em) {
      @content;
    }
  }
  @if $device==only-mob {
    @media only screen and (min-width: 45rem) {
      @content;
    }
  }
}

@mixin input {
  border-radius: 0.6rem;
  border: 2px solid $color-dark-gray;
  outline: 1px solid transparent;
  padding: 1.4rem 1rem;
  width: 100%;
  margin-right: 1rem;
  font-size: 1.8rem;
  transition: all 0.2s;
  font-family: inherit;
  &:focus {
    outline: 1px solid $color-dark-gray;
  }

  @include respond(mob) {
    width: 90vw;
    margin: 0;
  }
}

@mixin label {
  font-weight: 700;
  color: $color-secondary;
  font-size: 1.7rem;
}

@mixin input-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
