.section-about {
  padding: 10rem 3rem;
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;

  @include respond(mob) {
    padding: 10rem 0;
  }
}

.about:not(:last-child) {
  margin-right: 1.5rem;
}

.section-products {
  padding: 10rem;
  @include respond(mob) {
    padding: 10rem 0;
  }
}

.section-newsletter {
  min-height: 100vh;
  padding: 8rem 15rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.section-categories {
  padding-bottom: 4rem;
  text-align: center;
}

.faq {
  padding: 15rem;
  min-height: 100vh;
  & > h2 {
    text-align: center;
  }
}

.section-login {
  min-height: 100vh;
  padding: 7rem;
}
