.section-about {
  padding: 10rem 3rem;
  display: flex;
  flex-direction: column;
  background-color: #eee;

  @include respond(mob) {
    padding: 10rem 0;
  }
}

.about:not(:last-child) {
  margin-right: 1.5rem;
}

.section-products {
  padding: 10rem;
  @include respond(mob) {
    padding: 10rem 0;
  }
}

.section-newsletter {
  min-height: 100vh;
  padding: 8rem 0 20rem 0;
  display: grid;
  grid-template-columns: repeat(10, 10rem);
  grid-template-rows: repeat(6, 10rem);
  grid-auto-row: 30rem;

  justify-content: center;

  & > .heading-2 {
    grid-column: 4 / span 5;
  }
}

.section-categories {
  padding-bottom: 4rem;
}
