@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Noto+Color+Emoji&family=Space+Mono:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 45em) {
  html {
    font-size: 42%;
  }
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
}

@keyframes popup {
  0% {
    transform: translateX(5rem);
  }
  60% {
    transform: translateX(7rem);
  }
  90% {
    transform: translateX(4rem);
  }
  100% {
    transform: translateX(0);
  }
}
body {
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  line-height: 140%;
  font-weight: 500;
}

.email {
  color: #14213d;
  text-decoration: none;
  font-weight: 700;
  margin-top: 3rem;
  transition: all 0.2s;
}
.email:hover {
  color: #fca311;
}

.close {
  align-self: center;
}

.heading-1 {
  font-size: 6rem;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
}

.heading-2 {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #14213d;
}

.heading-3 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #14213d;
}

.paragraph {
  font-size: 1.6rem;
}

.copyright {
  color: #14213d;
  font-size: 1.6rem;
}
@media only screen and (max-width: 45em) {
  .copyright {
    margin-bottom: 6rem;
  }
}

.logo-imadet {
  width: 40rem;
  margin: -7rem 0;
}
.logo-imadet-sm {
  width: 30rem;
  margin: -8.5rem 0;
  display: inline-block;
}

.products-header {
  text-align: center;
}

.p-h2 {
  font-size: 3rem;
  color: #fca311;
}

.products-description {
  color: #fca311;
  font-size: 1.5rem;
  transition: all 0.2s;
  font-weight: 700;
}

.cart-btn {
  border: none;
  background: none;
  font-size: 4rem;
  color: #fca311;
  transition: all 0.2s;
  cursor: pointer;
}
.cart-btn:hover {
  color: #eef0e5;
}

.price {
  font-weight: 700;
  font-size: 1.7rem;
  color: #fca311;
}

.mb-lg {
  margin-bottom: 6rem !important;
}

.mb-sm {
  margin-bottom: 2rem !important;
}

.mb-md {
  margin-bottom: 4rem !important;
}

.mb-xl {
  margin-bottom: 10rem !important;
}

.mt-xl {
  margin-top: 10rem !important;
}

.mt-lg {
  margin-top: 6rem !important;
}

.mt-md {
  margin-top: 4rem !important;
}

.mt-sm {
  margin-top: 2rem !important;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mr-sm {
  margin-right: 2rem;
}

.mr-md {
  margin-right: 4rem;
}

.mr-lg {
  margin-right: 6rem;
}

.ml-sm {
  margin-right: 2rem;
}

.ml-md {
  margin-right: 4rem;
}

.ml-lg {
  margin-right: 6rem;
}

.dropdown {
  position: relative;
}
.dropdown__menu {
  list-style: none;
  background-color: #14213d;
  border-radius: 0.3rem;
  position: absolute;
  top: 3rem;
  left: -15%;
  transition: all 0.2s;
}
.dropdown__menu--item {
  padding: 1rem;
  text-transform: uppercase;
  font-size: 1.4rem;
}
.dropdown__menu--item:hover {
  background-color: rgba(229, 229, 229, 0.2);
}
.dropdown__menu--item:hover .dropdown__menu--link {
  color: #fff;
}
.dropdown__menu--link {
  color: #fca311;
  text-decoration: none;
  perspective: 100rem;
  transition: all 0.2s;
}

.caret {
  height: 0;
  width: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.8rem solid #fff;
  margin-left: 1rem;
  display: inline-block;
  transition: all 0.5s;
}

.selected {
  display: flex;
  align-items: center;
}

.brands {
  width: 60%;
  margin: 0 auto;
  height: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.brands .brand {
  width: 4rem;
  height: 4rem;
  color: #14213d;
  transition: all 0.2s;
}
.brands .brand:hover {
  color: #fca311;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: min-content;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  row-gap: 6rem;
  width: 70vw;
  margin: 0 auto;
}
@media only screen and (min-width: 45.1em) and (max-width: 65em) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
@media only screen and (max-width: 45em) {
  .cards {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.card {
  position: relative;
  width: 28.5rem;
  height: 44.5rem;
}
@media only screen and (max-width: 45em) {
  .card {
    width: 70%;
  }
}
.card .card-top {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 45em) {
  .card .card-top {
    background-color: rgba(20, 33, 61, 0.6);
    opacity: 1;
  }
}
.card:hover .card-top {
  background-color: rgba(20, 33, 61, 0.6);
  opacity: 1;
  transition: all 0.4s;
}
.card .card-bottom {
  box-shadow: 0 0.4rem 1.5rem rgba(20, 33, 61, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 0.4rem;
}
.card .card-bottom__img {
  width: 100%;
  height: 30rem;
  object-fit: contain;
}
.card .card-bottom__header {
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #14213d;
  transition: all 0.2s;
}
.card .card-bottom__body {
  height: 14.5rem;
  padding: 2rem 1.5rem;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.more:active,
.more:link,
.more:visited,
.more {
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #14213d;
  color: #14213d;
  transition: all 0.2s;
}

.more:hover {
  color: #fca311;
  border-bottom: 1px solid #fca311;
}

.btn {
  border: none;
  border-radius: 0.3rem;
  padding: 1.4rem 2.8rem;
  font-size: 1.8rem;
  background-color: #14213d;
  color: #fff;
  transition: all 0.2s;
  text-decoration: none;
  cursor: pointer;
}
.btn:hover {
  background-color: #fca311;
}

.btn-cart {
  background-color: #e5e5e5;
  color: #14213d;
  font-weight: 700;
}
.btn-cart:hover {
  color: #e5e5e5;
}
.btn-cart:active {
  background-color: #14213d;
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  font-size: 1.7rem;
  font-weight: 900;
  width: 2rem;
  height: 2rem;
  background-color: #9f9f9f;
  transition: all 0.2s;
}
.close-btn:active {
  background-color: #e5e5e5;
  transform: translateY(0.3rem);
}

.btn-form {
  width: 100%;
  margin: 0 auto;
}
@media only screen and (max-width: 45em) {
  .btn-form {
    width: 90vw;
  }
}

.btn-lg {
  width: 30rem;
}

.contacts {
  font-weight: 700;
  color: #14213d;
  text-decoration: none;
  background-color: #fff;
  padding: 1.5rem 3rem;
  display: block;
  transition: all 0.1s;
  border-radius: 1rem;
}
.contacts:hover {
  box-shadow: 0 1.5rem 3rem rgba(20, 33, 61, 0.4);
  transform: translateY(-0.2rem);
}
.contacts:active {
  box-shadow: 0 0.8rem 1rem rgba(20, 33, 61, 0.6);
  transform: translateY(0.1rem);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(20, 33, 61, 0.4);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__window {
  min-width: 50rem;
  height: 50vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 1rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
  padding: 0 2rem;
  text-align: center;
}
@media only screen and (max-width: 45em) {
  .modal__window {
    max-width: 50%;
  }
}
@media only screen and (min-width: 45.1em) and (max-width: 65em) {
  .modal__window {
    height: 60vh;
    max-width: 30vw;
  }
}
.modal__window > .close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-weight: 700;
  font-size: 3rem;
  border: none;
  background: none;
  color: #14213d;
  transition: all 0.2s;
}
.modal__window > .close:hover {
  color: #fca311;
}

div.header {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../public/images/image-1.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65vh;
  margin-bottom: 10rem;
}
@media only screen and (max-width: 45em) {
  div.header {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../public/images/image-1-mobile.jpg);
  }
}

.icon-group {
  display: flex;
  justify-content: center;
}
.icon-group__link {
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  transition: all 0.2s;
  text-decoration: none;
  cursor: pointer;
}
.icon-group__link span {
  margin-left: 0.6rem;
}
.icon-group__link:hover {
  color: #fca311;
}

.side-content {
  grid-column: 2/span 2;
  grid-row: 2/span 3;
  display: grid;
  grid-template-columns: repeat(2, 10rem);
  grid-template-rows: repeat(3, 10rem);
}
.side-content__group {
  display: grid;
  grid-template-columns: repeat(2, 13rem);
  grid-column: span 2;
  gap: 1rem;
  color: #14213d;
}
.side-content__group--icon {
  justify-self: flex-end;
}
.side-content__group--content {
  grid-column: 2;
}
.side-content__group--1 {
  grid-row: 1;
}
.side-content__group--2 {
  grid-row: 2;
}
.side-content__group--3 {
  grid-row: 3;
}

.categories {
  display: flex;
  gap: 6rem;
  width: 90%;
  margin: 2rem auto;
  justify-content: center;
}
@media only screen and (max-width: 45em) {
  .categories {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16rem;
  }
}
@media only screen and (min-width: 45.1em) and (max-width: 65em) {
  .categories {
    flex-direction: column;
    align-items: center;
  }
}
.categories__card {
  height: 60rem;
  width: 45rem;
  cursor: pointer;
  text-align: center;
}
@media only screen and (max-width: 45em) {
  .categories__card {
    width: 70%;
    margin-bottom: 3rem;
  }
}
.categories__card--img {
  height: 58rem;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
@media only screen and (max-width: 45em) {
  .categories__card--img {
    height: 60rem;
  }
}
.categories__card--description {
  color: #14213d;
}

.accordions {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  transition: all 0.6s cubic-bezier(0.24, 0.24, 0.08, 1.04);
  max-height: 65rem;
}
.accordions .accordion {
  background-color: #eef0e5;
  width: 80rem;
  padding: 1.6rem 3rem;
  border-radius: 1rem;
  box-shadow: 0 0.8rem 2rem rgba(20, 33, 61, 0.4);
}
@media only screen and (max-width: 45em) {
  .accordions .accordion {
    width: 90vw;
  }
}
.accordions .accordion__question {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 900;
  color: #14213d;
}
.accordions .accordion__answer {
  border-top: 1px solid #9f9f9f;
  margin-top: 1.7rem;
  padding-top: 1rem;
  font-weight: 700;
  max-height: 50rem;
  color: #14213d;
  transform-origin: top;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.24, 0.24, 0.08, 1.04);
}
.accordions .accordion__answer.hidden {
  opacity: 0;
  height: 0;
  transition: all 0.6s cubic-bezier(0.24, 0.24, 0.08, 1.04);
  margin-top: 0;
  padding-top: 0;
  max-width: 0;
}
.accordions .accordion__icon {
  font-size: 2.5rem;
  transform: rotateZ(-180deg);
  transition: all 0.4s;
}
.accordions .accordion__icon--hidden {
  transform: rotateZ(0);
}

.cart {
  position: relative;
}
.cart .list {
  position: absolute;
  top: 6rem;
  right: -6rem;
  background-color: #eef0e5;
  border: 2px solid #9f9f9f;
  border-radius: 0.3rem;
  padding: 2rem 4rem;
  width: 40rem;
}
.cart__list {
  list-style: none;
  max-height: 30rem;
  overflow-y: scroll;
}
.cart__item {
  display: flex;
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  align-items: center;
  height: 7rem;
}
.cart__item:not(:last-child) {
  margin-bottom: 2rem;
}
.cart__img {
  width: 10rem;
  margin-right: 1.5rem;
  height: 100%;
  object-fit: contain;
}
.cart__body {
  font-size: 1.5rem;
}
.cart__footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #9f9f9f;
  padding-top: 1rem;
}

.popup {
  animation: popup 2s ease-in 1s 2;
  padding: 3rem 2rem;
  position: fixed;
  top: 6rem;
  left: 0;
  z-index: 100;
  background-color: #e5e5e5;
  border-radius: 1rem;
  border: 1px solid #fca311;
}

.form {
  display: grid;
  grid-auto-rows: 8rem;
  grid-template-columns: 50rem;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
@media only screen and (max-width: 45em) {
  .form {
    grid-template-columns: max-content;
  }
}
.form__input-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form__input {
  border-radius: 0.6rem;
  border: 2px solid #9f9f9f;
  outline: 1px solid transparent;
  padding: 1.4rem 1rem;
  width: 100%;
  margin-right: 1rem;
  font-size: 1.8rem;
  transition: all 0.2s;
  font-family: inherit;
}
.form__input:focus {
  outline: 1px solid #9f9f9f;
}
@media only screen and (max-width: 45em) {
  .form__input {
    width: 90vw;
    margin: 0;
  }
}
.form__label {
  font-weight: 700;
  color: #14213d;
  font-size: 1.7rem;
}

.step {
  width: 70vw;
  font-size: 2.4rem;
  color: #14213d;
  font-weight: 700;
}
@media only screen and (max-width: 45em) {
  .step {
    width: 80vw;
  }
}

.inline-btn :active,
.inline-btn:visited,
.inline-btn:link,
.inline-btn {
  text-decoration: none;
  color: currentColor;
  display: inline-block;
  padding-bottom: 0.3rem;
  border-bottom: 0.2rem solid #14213d;
  transition: all 0.2s;
  cursor: pointer;
}
.inline-btn :active:hover,
.inline-btn:visited:hover,
.inline-btn:link:hover,
.inline-btn:hover {
  color: #fca311;
  border-bottom: 0.2rem solid #fca311;
}

.hamburger {
  position: absolute;
  height: 3.5rem;
  width: 3.5rem;
  top: 5rem;
  right: 4rem;
  background: none;
  border: none;
  outline: 2px solid #fff;
  border-radius: 0.7rem;
  transition: all 0.2s;
}
@media only screen and (min-width: 45rem) {
  .hamburger {
    display: none;
  }
}
.hamburger:active {
  outline: 2px solid #fca311;
}
.hamburger::before {
  content: "";
  display: inline-block;
  width: 69%;
  height: 0.2rem;
  position: absolute;
  top: 1.1rem;
  left: 0.5rem;
  background-color: #fff;
}
.hamburger::after {
  content: "";
  display: inline-block;
  width: 69%;
  height: 0.2rem;
  position: absolute;
  bottom: 1.1rem;
  left: 0.5rem;
  background-color: #fff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #14213d;
  height: 8rem;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 45em) {
  .navbar {
    height: auto;
    width: 100vw;
    flex-wrap: wrap;
  }
}
.navbar__logo {
  width: 8rem;
  display: flex;
}
@media only screen and (max-width: 45em) {
  .navbar__logo {
    transform: translateX(-100%);
  }
}
.navbar__logo .brand {
  width: 20rem;
  margin-left: -1.75rem;
}
.navbar__logo .logo {
  width: 100%;
}
.navbar__nav {
  margin-left: 10rem;
  display: flex;
  align-items: center;
  height: 100%;
}
.navbar__nav > *:not(:last-child) {
  margin-right: 3rem;
}
@media only screen and (max-width: 45em) {
  .navbar__nav > *:not(:last-child) {
    margin-right: 0;
  }
}
.navbar__nav.toggle {
  display: none;
}
@media only screen and (max-width: 45em) {
  .navbar__nav {
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    order: 4;
    flex: 0 0 100%;
    padding-bottom: 3rem;
  }
}
.navbar__nav:last-child {
  margin-right: 8rem;
}
@media only screen and (max-width: 45em) {
  .navbar__nav:last-child {
    margin: 0;
  }
}
.navbar__nav--item {
  list-style: none;
}
@media only screen and (max-width: 45em) {
  .navbar__nav--item {
    padding: 1rem;
  }
}
.navbar__nav--link {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  transition: all 0.2s;
}
.navbar__nav--link:hover {
  color: #fca311;
}
.navbar__nav .active {
  position: relative;
  color: #14213d;
}
.navbar__nav .active::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fca311;
  z-index: -1;
  padding: 1rem 1.5rem;
  border-radius: 0.8rem;
}
.navbar__nav .active:hover {
  color: #fff;
}

.footer {
  background-color: #e5e5e5;
  overflow-x: hidden;
  padding: 12rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media only screen and (max-width: 45em) {
  .footer {
    padding: 8rem 2rem;
    flex-direction: column;
  }
}
.footer__logo {
  width: 8rem;
  display: flex;
  margin-right: 20rem;
}
@media only screen and (max-width: 45em) {
  .footer__logo {
    align-self: center;
    transform: translateX(-50%);
    margin: 0;
  }
}
.footer__logo .brand {
  width: 20rem;
  margin-left: -1.75rem;
}
.footer__logo .logo {
  width: 100%;
}

.newsletter {
  display: grid;
  row-gap: 3rem;
  grid-row: 2;
  grid-column: 6/span 4;
}
.newsletter__label {
  font-weight: 700;
  color: #14213d;
  font-size: 1.7rem;
}
.newsletter__input {
  border-radius: 0.6rem;
  border: 2px solid #9f9f9f;
  outline: 1px solid transparent;
  padding: 1.4rem 1rem;
  width: 100%;
  margin-right: 1rem;
  font-size: 1.8rem;
  transition: all 0.2s;
  font-family: inherit;
}
.newsletter__input:focus {
  outline: 1px solid #9f9f9f;
}
@media only screen and (max-width: 45em) {
  .newsletter__input {
    width: 90vw;
    margin: 0;
  }
}
.newsletter__input-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.newsletter .error {
  border: 2px solid #f00;
  outline: 1px solid transparent;
  background: rgb(250, 245, 245);
}
.newsletter .btn {
  width: 23rem;
}

.about {
  display: flex;
  background-color: #fff;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
}
.about .paragraph {
  font-size: 2rem;
}
@media only screen and (max-width: 45em) {
  .about {
    flex-direction: column;
  }
}
.about__content {
  align-self: center;
  padding: 0 4rem;
}
@media only screen and (max-width: 45em) {
  .about__content {
    padding: 8rem 4rem;
  }
}
.about picture {
  width: 100%;
}
.about__img {
  width: 100%;
  object-fit: cover;
}
.about__img--1 {
  margin-left: 2rem;
}
.about__img--2 {
  order: -1;
}
@media only screen and (max-width: 45em) {
  .about__img {
    display: none;
  }
}

.section-about {
  padding: 10rem 3rem;
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
}
@media only screen and (max-width: 45em) {
  .section-about {
    padding: 10rem 0;
  }
}

.about:not(:last-child) {
  margin-right: 1.5rem;
}

.section-products {
  padding: 10rem;
}
@media only screen and (max-width: 45em) {
  .section-products {
    padding: 10rem 0;
  }
}

.section-newsletter {
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin: 0 auto;
}
@media only screen and (max-width: 45em) {
  .section-newsletter {
    width: max-content;
  }
}

.section-categories {
  padding-bottom: 4rem;
  text-align: center;
}

.faq {
  padding: 15rem 0;
  min-height: 100vh;
  width: 90vw;
  margin: 0 auto;
}
.faq > h2 {
  text-align: center;
  font-size: 3.4rem;
}

.section-login {
  min-height: 100vh;
  padding: 7rem;
}

.section-category-products {
  min-height: 100vh;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-category-products > h2 {
  text-align: center;
}

/*# sourceMappingURL=index.css.map */
