.accordions {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  transition: all 0.6s cubic-bezier(0.24, 0.24, 0.08, 1.04);
  max-height: 65rem;

  .accordion {
    background-color: $color-light-gray;
    width: 90vw;
    padding: 1.6rem 3rem;
    border-radius: 1rem;
    box-shadow: 0 0.8rem 2rem rgba($color-secondary, 0.4);

    &__question {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 900;
      color: $color-secondary;
    }

    &__answer {
      border-top: 1px solid $color-dark-gray;
      margin-top: 1.7rem;
      padding-top: 1rem;
      font-weight: 700;
      max-height: 50rem;
      color: $color-secondary;
      transform-origin: top;
      overflow: hidden;
      transition: all 0.6s cubic-bezier(0.24, 0.24, 0.08, 1.04);
      &.hidden {
        opacity: 0;
        height: 0;
        transition: all 0.6s cubic-bezier(0.24, 0.24, 0.08, 1.04);
        margin-top: 0;
        padding-top: 0;
        max-width: 0;
      }
    }

    &__icon {
      font-size: 2.5rem;
      transform: rotateZ(-180deg);
      transition: all 0.4s;

      &--hidden {
        transform: rotateZ(0);
      }
    }
  }
}
