.categories {
  display: flex;
  gap: 6rem;
  width: 90%;
  margin: 2rem auto;
  justify-content: center;
  @include respond(mob) {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16rem;
  }

  @include respond(tab) {
    flex-direction: column;
    align-items: center;
  }

  &__card {
    height: 60rem;
    width: 45rem;
    cursor: pointer;

    @include respond(mob) {
      width: 70%;
      margin-bottom: 3rem;
    }

    text-align: center;
    &--img {
      height: 58rem;
      width: 100%;
      object-fit: cover;
      border-radius: 1rem;

      @include respond(mob) {
        height: 60rem;
      }
    }

    &--description {
      color: $color-secondary;
    }
  }
}
