.contacts {
  font-weight: 700;
  color: $color-secondary;
  text-decoration: none;
  background-color: $color-white;
  padding: 1.5rem 3rem;
  display: block;
  transition: all 0.1s;
  border-radius: 1rem;
  &:hover {
    box-shadow: 0 1.5rem 3rem rgba($color-secondary, 0.4);
    transform: translateY(-0.2rem);
  }
  &:active {
    box-shadow: 0 0.8rem 1rem rgba($color-secondary, 0.6);
    transform: translateY(0.1rem);
  }
}
