.icon-group {
  display: flex;
  justify-content: center;
  &__link {
    color: $color-white;
    font-weight: 700;
    font-size: 2rem;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    transition: all 0.2s;
    text-decoration: none;
    cursor: pointer;

    & span {
      margin-left: 0.6rem;
    }

    &:hover {
      color: $color-primary;
    }
  }
}
