.side-content {
  grid-column: 2 / span 2;
  grid-row: 2 / span 3;
  display: grid;
  grid-template-columns: repeat(2, 10rem);
  grid-template-rows: repeat(3, 10rem);

  &__group {
    display: grid;
    grid-template-columns: repeat(2, 10rem);
    grid-column: span 2;
    gap: 1rem;
    color: $color-secondary;
    &--icon {
      justify-self: flex-end;
    }

    &--content {
      grid-column: 2;
    }

    &--1 {
      grid-row: 1;
    }

    &--2 {
      grid-row: 2;
    }

    &--3 {
      grid-row: 3;
    }
  }
}
